import { RoleListing } from "./../ipc/roleListing";
import { BaseRole } from "../roles";
import { Process } from "../kernel/process";

export class PLogisticsRoles extends Process {
    public static className: string = "LogisticsRoles";
    public get className(): string { return PLogisticsRoles.className; }
    public readonly service: boolean = true;

    public constructor(pid: ProcessId, parentPid: ProcessId) {
        super(pid, parentPid);
    }
    
    public reloadFromMemory(pmem: ProcessMemory | undefined): void {
        RoleListing.initialize();
    }

    public run(): ProcessMemory | undefined {
        return;
    }
}
